body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    margin-top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style: none;
    text-align: center;
    padding: 0;
}
ul li{
    margin:2em;
}
ul li a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color:white;
    background: rgb(167, 167, 167);
    padding: 0.5em 1.2em 0.5em 1.2em;
    border-radius: 10px;
    transition: background 0.3s ease-in, color 0.3s ease-in;
}
ul li a:hover{
    background: #EEE;
    color: black;
    border: #EEE;
}
.top{
    display: flex;
    background: #EEE;
    margin:0;
    height: 5em;
    width: 100vw;
    align-items: center;
    justify-content: center
}
.nav{
    width: 100vw;
    background: rgb(167, 167, 167);
}
.nav ul li a{
    margin-top:1em;
    border-top:2px solid #EEE;
    border-bottom:2px solid #EEE;
}
.top a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    color: rgb(146, 146, 146);
    letter-spacing: 0.2em;
    padding-left: 0.2em;
    cursor: pointer;
}
