<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
</head>

<body>
    <div class="top"><a href="{{site.baseurl}}/index.html">HOMEPAGE</a></div>
    <div class="nav">
        <ul>
            <li><a href="{{site.baseurl}}/about.html">About</a></li>
            <li><a href="{{site.baseurl}}/contacts.html">Contacts</a></li>
            <li><a href="{{site.baseurl}}/socialmedia.html">SocialMedia</a></li>
        </ul>
    </div>
</body>

</html>