<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Media</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
</head>
<main>
    <p><a href="https://www.facebook.com/alexander.hristov13" class="fab fa-facebook">Follow me on Facebook</a></p>
    <p class="back"><a href="{{site.baseurl}}/index.html">Back</a></p>
</main>
</html>